.center{
	margin: 0 auto;
	background: rgba(0,0,0,0.4) !important;
	color: white !important;
}
.container button, h2{
	font-size: 1.5rem;
}
.smallerText{
	font-size: 1rem;
}
.smallerText li{
	list-style-position: inside;
	text-align: justify;
}
body{
	font-family: 'Balsamiq Sans', cursive;
	/*background-image: url(https://free4kwallpapers.com/uploads/originals/2019/08/18/black--pattern-wallpaper.jpg);*/
	background-image: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	/*background-image: url(https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);*/
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.jumbotron, .transparency{
    background: rgba(0,0,0,0.4);
    border-radius: 0 100px 100px 0;
    font-weight: 500;
    padding: 15px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin-top: 10px;
    font-size: 1.5rem;
}
.row button{
	margin: 0 auto;
	pointer-events: none;
}
.navbar {
	background: rgba(0,0,0,0.4);
	border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 0 100px 100px 0;
    margin-top: 2px;
}