/*Google Fonts*/
/*
font-family: 'Lilita One', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif;
*/
/*Google Fonts*/

/*Main Styles Start*/

.textStyle{
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1rem;
}
.textStyleAbout{
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.1rem !important;
}
a .textStyle:hover{
	color: black;
}
body{
	margin-right: 0;
}
nav .bg-dark{
	background-color: #323a45
}
.top{
	float: right;
	background-image: linear-gradient(95deg, rgba(255, 255, 255, 0), #5faeb6 95%, rgba(255, 255, 255, 0));
	color: black;
	font-family: 'Lilita One', cursive;
	font-size: 1.2rem;
	border: 1px solid white;
	border-radius: 10px;
	}
.top:hover{
	background-image: linear-gradient(95deg, rgba(255, 255, 255, 0), #5faeb6 95%, rgba(255, 255, 255, 0));
	font-family: 'Lilita One', cursive;
	border: 1px solid white;
	border-radius: 10px;
	padding: 3px 15px;
	color: #323a45;
	text-decoration: none;
	transform: rotate(3deg);
	transition: 0.1s;
}
/*Main Styles End*/



/*Header Styles Start*/

#johanCenterLogo{
	margin: 40px 0;
	font-family: 'Pacifico', cursive;
	font-size: 6rem;
	font-weight: 400;
	position: relative;
}
.topMenuItem{
	color: white;
	border: 1px solid white;
	border-radius: 8px;
}
.topMenuItem:hover{
	color: white;
	background-image: linear-gradient(95deg, rgba(255, 255, 255, 0), #5faeb6 85%, rgba(255, 255, 255, 0));
}
.topMenuItem span:hover{
	color: white;
}
@media (max-width: 991px) {
	.stretch{
		display: block !important;
		width: 100% !important;
		font-size: 1.2rem;
		margin: 0 auto; 
	}
}
.btn:hover{
	color: black !important;
}
#secondNav a{
	color: white;
	font-size: 1.5rem;
}
#secondNav a:hover{
text-decoration: underline wavy;
background-image: linear-gradient(95deg, rgba(255, 255, 255, 0), #5faeb6 85%, rgba(255, 255, 255, 0));
-webkit-transition: color .1s linear;
transition: color .25s linear;
transition: background-color .1s linear .1s;
transition: 0.1s;
font-family: 'Lilita One', cursive;
}
@media (min-width: 991px) {
	#secondNav:hover a{
	  filter:blur(2px);
	  opacity:.9;
	  transform: scale(.98);
	}
	#secondNav:hover a:hover{
	  transform:scale(1);
	  filter:blur(0);
	  opacity:1;
	  transition: 0.2s;
	}
}
@media (max-width: 991px) {
	#secondNav a:hover{
		display: block;
		margin: 0 auto;
	}
}
.headerStyle:hover{
	font-size: 1.3rem;
	background-image: linear-gradient(95deg, rgba(255, 255, 255, 0), #5faeb6 95%, rgba(255, 255, 255, 0));
	transition: 0.5s;
}
/*Header Styles End*/



/*About Styles Start*/

.mainImg{
	background-image: linear-gradient(95deg, rgba(255, 255, 255, 0), #5faeb6 85%, rgba(255, 255, 255, 0));
	border-radius: 50%;
	border: 1px solid black;
	transition: 0.5s all;
	margin: 10px 0;
	width: 100%;
	height: auto;	
}
.textBoxStyle{
	background-color: #323a45;
	padding: 8px;
	font-size: 1.3rem;
	margin: 10px;
	border: 1px 1px 0 1px solid black;
	border-radius: 0 10px 10px 0;
}
.highlight{
	background-image: linear-gradient(95deg, rgba(255, 255, 255, 0), #5faeb6 85%, rgba(255, 255, 255, 0));
}
.highlight:hover {
	font-style: italic;
	padding: 1px 1px;
	font-family: 'Lilita One', cursive;
	/*background-color: rgb(51, 102, 153);*/
	transition: 0.6s;
}
/*About Styles End*/



/*Skills Styles Start*/
.subtitleStyle{
	font-family: 'Lilita One', cursive;
	font-size: 2rem;
}
.subtitleStyle:hover{
	display: inline;
	background-image: linear-gradient(95deg, rgba(255, 255, 255, 0), #5faeb6 95%, rgba(255, 255, 255, 0));
	padding: 0 50px;
	color: black;
}
#skills{
	margin-top: 50px;
}
div .card-body{
	padding: 0;
}
div .card{
	border: 0;
}
.card-title{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 1.3rem;
	margin: 12px 0;
}
.textBoxStyleCards{
	color: black;
	padding: 10px;
	font-size: 1.2rem;
	border: 2px solid black;
	border-radius: 5px;
}
.textBoxStyleCards:hover{
	background-image: linear-gradient(95deg, rgba(255, 255, 255, 0), #5faeb6 95%, rgba(255, 255, 255, 0));
	color: black;
	transition: 0.3s;
	font-family: 'Lilita One', cursive;
	transition: 0.5s;
}
.skillsIcons{
	border-radius: 8px;
	width: 50%;
	margin: 0 auto;
}
.fa-html5{
	color: #e54c21;
	border: 2px solid #e54c21;
}
.fa-css3-alt{
	color: #1572b6;
	border: 2px solid #1572b6;
}
.fa-bootstrap{
	color: #563d7c;
	border: 2px solid #563d7c;
}
.fa-chalkboard-teacher{
	color: #009999;
	border: 2px solid #009999;
	padding: 5px 0;
}
.fa-laptop-code{
	color: #808080;
	border: 2px solid #808080;
	padding: 5px 0;
}
.fa-funnel-dollar{
	color: #009933;
	border: 2px solid #009933;
	padding: 5px 0;
}
.fa-windows{
	color: #eb3c03;
	border: 2px solid #eb3c03;
	padding: 5px 0;
}
.fa-adobe{
	color: #72c3fe;
	border: 2px solid #040036;
	padding: 5px 0;
}
.fa-tasks{
	color: #1ba466;
	border: 2px solid #06793c;
	padding: 5px 0;
}
/*Skills Styles End*/



/*Footer Styles Start*/
.textBoxStyleFooter{
	width: 100%;
	background-color: #323a45;
	padding: 10px 10px;
	font-size: 1.3rem;
	margin: 50px 0 0 0;
}
.textBoxStyleFooter h5{
	font-size: 1.2rem;
	font-weight: bold;
}
.textBoxStyleFooter a:hover{
	color: white;
	text-decoration: none;
	padding: 10px;
}
/*Footer Styles End*/



/*Change some animations on mobile Start*/

@media (max-width: 767px) {
	.headerStyle , .highlight{
		padding: 1px 2px;
		font-family: 'Lilita One', cursive;
		background-image: linear-gradient(95deg, rgba(255, 255, 255, 0), #5faeb6 95%, rgba(255, 255, 255, 0));
	}
	.headerStyle{
		font-size: 1.3rem;
		background-image: linear-gradient(95deg, rgba(255, 255, 255, 0), #5faeb6 95%, rgba(255, 255, 255, 0));
	}
	.row .subtitleStyle{
		font-family: 'Lilita One', cursive;
		font-size: 2rem;
		background-image: linear-gradient(95deg, rgba(255, 255, 255, 0), #5faeb6 95%, rgba(255, 255, 255, 0));
		padding: 5px;
		color: white;
	}
	.mainImg{
	background-image: linear-gradient(95deg, rgba(255, 255, 255, 0), #5faeb6 95%, rgba(255, 255, 255, 0));
	border-radius: 50%;
	border: 2px solid black;
	}
	
	#secondNav a:hover{
	text-decoration: underline wavy;
	background-image: linear-gradient(95deg, rgba(255, 255, 255, 0), #5faeb6 85%, rgba(255, 255, 255, 0));
	width: 50%;
	transition: 0.1s;
	font-family: 'Lilita One', cursive;
	border: 0;
	}
	.subtitleStyle{
	display: inline;
	background-image: linear-gradient(95deg, rgba(255, 255, 255, 0), #5faeb6 95%, rgba(255, 255, 255, 0));
	color: black;
	font-family: 'Lilita One', cursive;
	font-size: 2rem;
	}	
}

/*Change some animations on mobile End*/